
{
  "presets": [
    "stage-0",
    [
      "env", {
        "modules": false,
        "loose": true,
        "targets": {
          "browsers": ["ie 8-11"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-es3-property-literals",
    "transform-es3-member-expression-literals"
  ]
}